body {
	background: green;
	font-family: 'Raleway', 'Arial', sans-serif;
}

p {
	color: yellow;
	font-size: 3em;
	text-align: center;
}

h1 {
	font-size: 5em;
	text-transform: uppercase;
	text-align: center;
}
